# local.toml
###################################################
[l1_config]
# RPC endpoint for L1
eth_rpc = "http://anvil:8545"
# L1 chain id: 31337 for Anvil, 11155111 for ETH Sepolia
eth_chain_id = 31337
# Address from verifier contract
verifier_address = "0x5FbDB2315678afecb367f032d93F642f64180aa3"
###################################################
# ETH wallet
[eth_wallet]
# ETH private key that will be used to sign transactions for contracts deployment
eth_priv_key = "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
# ETH address derived from eth_priv_key
l1_deployer_address = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
# ETH address that will be the owner from the proxy
operator_address = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
# L1 multisig address: a secondary address (must be different from L1 deployer address)
l1_multisig_address = "0xa0ee7a142d267c1f36714e4a8f75612f20a79720"
###################################################
# Madara params
[madara]
chain_name = "Madara"
app_chain_id = "MADARA_DEVNET"
native_fee_token_address = "0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d"
parent_fee_token_address = "0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7"
latest_protocol_version = "0.13.2"
block_time = "10s"
pending_block_update_time = "2s"
gas_price = 0
blob_gas_price = 0
###################################################
# Orchestrator params
[orchestrator]
# URL from Atlantic prover API
atlantic_service_url = "https://atlantic.api.herodotus.cloud"
# Block number that Orchestrator will start processing
minimum_block_to_process = 0
# Block number that Orchestrator will stop processing
# maximum_block_to_process = 100
