name: Task - Devnet Mac

on:
  workflow_dispatch:
  workflow_call:

jobs:
  devnet_mac:
    strategy:
      fail-fast: false
    runs-on: macos-latest
    env:
      CPU_LIMIT: 2.0
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ./.github/actions/setup-mac

      - name: Setup dev chain
        run: |
          make run-devnet-ci MADARA_MODE=devnet BASE_PATH=/tmp/db
