name: Task - Sequencer Mac

on:
  workflow_dispatch:
  workflow_call:

jobs:
  sequencer_mac:
    strategy:
      fail-fast: false
    runs-on: macos-latest
    env:
      CPU_LIMIT: 2.0
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ./.github/actions/setup-mac

      - name: Setup sequencer chain
        run: |
          make run-madara-ci MADARA_MODE=sequencer BASE_PATH=/home/db
